* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-green: #0fd996;
    --color-pink: #ff87ab;
    --color-blue: #0095ff;
}

/* ---------------------body design---------- */
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        45deg,
        var(--color-green) 50%,
        var(--color-pink) 50%
    );
}
body::after {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(160deg, var(--color-blue) 50%, transparent 50%);
    animation: animate 4s ease-in-out infinite;
}

/* ------------------key frames------------- */
@keyframes animate {
    0%,
    100% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-10px);
    }
}
/* --------------------container------------------- */
.container {
    position: relative;
}
.container::before {
    content: "";
    position: absolute;
    bottom: -115px;
    width: 100%;
    height: 60px;
    border-radius: 50%;
    background: radial-gradient(rgba(0, 0, 0, 0.3), transparent, transparent);
}
/* -------------------box design------------ */
.box {
    position: relative;
    z-index: 1;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    backdrop-filter: blur(25px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    animation: animate 5s ease-in-out infinite;
    animation-delay: -2.5s;
}
.clock {
    position: absolute;
    top: 10px;
    right: 10px;
    left: 10px;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(transparent, rgba(255, 255, 255, 0.2)),
        url(../images/clock.png);
    background-size: cover;
    border-radius: 50%;
    backdrop-filter: blur(25px);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-bottom: none;
    border-right: none;
    box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.1),
        10px 10px 20px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}
.clock::before {
    content: "";
    position: absolute;
    z-index: 1000;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
}
.hour,
.min,
.sec {
    position: absolute;
}
.hour,
.hr {
    width: 160px;
    height: 160px;
}

.min,
.mn {
    width: 190px;
    height: 190px;
}

.sec,
.sc {
    width: 230;
    height: 230px;
}

.hr,
.mn,
.sc {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}
.hr::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 50%;
    z-index: 11;
    background-color: var(--color-pink);
    border-radius: 6px;
}
.mn::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 50%;
    z-index: 11;
    background-color: #fff;
    border-radius: 6px;
}
.sc::before {
    content: "";
    position: absolute;
    width: 2.5px;
    height: 65%;
    z-index: 11;
    background-color: var(--color-green);
    border-radius: 6px;
}

@media screen and (max-width: 678px) {
    .box {
        width: 300px;
        height: 300px;
    }
}
@media screen and (max-width: 290px) {
    .box {
        width: 250px;
        height: 250px;
    }
}
